html{
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* nav-bar */

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

.nav-button a{
  text-decoration: none;
  border: 2px solid #ccc;
  font-size: 1.6rem;
  color: black;
  padding: 1.3rem 2rem;
  border-radius: 2.5rem;
  transition: border 0.15s;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.nav-button a:hover{
  border: 2px solid black;
}

.nav-logo{
  cursor: pointer;
}

/* Hero-content */

.hero-left-content{
  max-width: 500px;
  width: 100%;
  padding: 3rem;
}

.hero-content{
  padding: 64px;
}

.hero-highlight{
  display: inline;
  color: dodgerblue;
}

.hero-heading{
  font-size: 3rem;
  font-family: "Playfair Display";
}

.hero-para p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  overflow-wrap: break-word;
  font-family: "Montserrat";
}

.hero-button{
  margin-top: 6rem;
  display: block;
}

.hero-button a{
  border: 1px solid transparent;
  text-decoration: none;
  color: #fff;
  background-color: #15B441;
  align-items: center;
  padding: 1.6rem 10rem;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Lato";
}

.hero-button a:hover{
  background-color: #5ED981;
}

.hero-right-content{
  max-width: 600px;
  
}

.hero-video{
  width: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero-down-content{
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
}

.hero-properties{
  display: flex;
  align-items: center;
  position: relative;
}

.hero-properties img{
  width: 3rem;
  margin-right: 1rem;
}

.hero-img1::after {
  content: 'Math';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img2::after {
  content: 'Data Analysis';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img3::after {
  content: 'Computer Science';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img4::after {
  content: 'Programming & AI';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img5::after {
  content: 'Science & Engineering';
  display: inline-block;
  font-size: 1.6rem;
}

/* rating section */
.rating{
  background-color: rgb(248, 248, 248);
  padding: 80px 64px;
}

.rating-heading h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Lato";
  margin-bottom: 5rem;
}

.rating-companies, .rating-review, .rating-trust{
  display: flex;
  padding-right: 2rem;
  border-right: 1px solid #ccc;
  
}

.rating-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rating-companies img{
  max-width: 181px;
  opacity: 0.3;
  margin-right: 1rem;
}

.rating-review{
  flex-direction: column;
}

.rating-review img{
  width: 70px;
  box-sizing: border-box;
  margin-left: 1rem;
}

.rating-review p{
  font-size: 1.5rem;
  margin-top: 0.1rem;
  max-width: 310px;
  font-family: "montserrat";
  margin-left: 1rem;
  margin-right: 2rem;
  font-weight: 500;
}


.rating-trust{
  flex-direction: column;
  padding-right: 2rem;
  cursor: pointer;

}

.rating-trust .rating-4{
  width: 100px;
}

.rating-trust p{
  margin: 0;
  margin-right: 3rem;
  font-family: "Roboto";
}

.rating-trust p:first-child{
  font-weight: 500;
  font-size: 1.8rem;
}

.rating-os img{
  width: 100px;
  opacity: 0.3;
  margin-right: 1rem;
}

.rating-os{
  display: inline-block;
}