html{
  font-size: 62.5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-2{
  max-width: 1000px;
  margin: 0 auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* nav-bar */

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
}

.nav-button a{
  text-decoration: none;
  border: 2px solid #ccc;
  font-size: 1.6rem;
  color: black;
  padding: 1.3rem 2rem;
  border-radius: 2.5rem;
  transition: border 0.15s;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.nav-button a:hover{
  border: 2px solid black;
}

.nav-logo{
  cursor: pointer;
}

/* Hero-content */

.hero-left-content{
  max-width: 500px;
  width: 100%;
  padding: 3rem;
}

.hero-content{
  padding: 64px;
}

.hero-highlight{
  display: inline;
  color: dodgerblue;
}

.hero-heading{
  font-size: 3rem;
  font-family: "Playfair Display";
}

.hero-para p{
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  overflow-wrap: break-word;
  font-family: "Montserrat";
}

.hero-button{
  margin-top: 6rem;
  display: block;
}

.hero-button a{
  border: 1px solid transparent;
  text-decoration: none;
  color: #fff;
  background-color: #15B441;
  align-items: center;
  padding: 1.6rem 10rem;
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background-color 0.3s;
  font-weight: 600;
  font-family: "Lato";
}

.hero-button a:hover{
  background-color: #5ED981;
}

.hero-right-content{
  max-width: 600px;
  
}

.hero-video{
  width: 100%;
}



.hero-down-content{
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 500;
}

.hero-properties{
  display: flex;
  align-items: center;
  position: relative;
}

.hero-properties img{
  width: 3rem;
  margin-right: 1rem;
}

.hero-img1::after {
  content: 'Math';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img2::after {
  content: 'Data Analysis';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img3::after {
  content: 'Computer Science';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img4::after {
  content: 'Programming & AI';
  display: inline-block;
  font-size: 1.6rem;
}

.hero-img5::after {
  content: 'Science & Engineering';
  display: inline-block;
  font-size: 1.6rem;
}

/* rating section */
.rating{
  background-color: rgb(248, 248, 248);
  padding: 80px 64px;
}

.rating-heading h2{
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Lato";
  margin-bottom: 5rem;
}

.rating-companies, .rating-review, .rating-trust{
  display: flex;
  padding-right: 2rem;
  border-right: 1px solid #ccc;
  height: 30px;
  justify-content: center;
}

.rating-content{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rating-companies img{
  max-width: 181px;
  opacity: 0.3;
  margin-right: 1rem;
}

.rating-review{
  flex-direction: column;
}

.rating-review img{
  width: 70px;
  box-sizing: border-box;
  margin-left: 1rem;
}

.rating-review p{
  font-size: 1.5rem;
  margin-top: 0.1rem;
  max-width: 310px;
  font-family: "montserrat";
  margin-left: 1rem;
  margin-right: 2rem;
  font-weight: 500;
}


.rating-trust{
  flex-direction: column;
  padding-right: 2rem;
  cursor: pointer;

}

.rating-trust .star{
  float: left;
  margin-right: 2px;
}

.rating-trust .rating-4{
  width: 100px;
}

.rating-trust p{
  margin: 0;
  margin-right: 3rem;
  font-family: "Roboto";
}

.rating-trust .trustpilot{
  font-size: 1.5rem;
  font-weight: 500;
}

.rating-os img{
  width: 100px;
  opacity: 0.3;
  margin-right: 1rem;
}

.rating-os{
  display: inline-block;
}


/* features */
.features{
  margin-top: 10rem;
}

.feature-heading h2{
  font-size: 3.5rem;
  font-family: "Lato";
  font-weight: 900;
  max-width: inherit;
  width: 100%;
  text-align: center;
}

.feature-heading p{
  font-size: 2rem;
  color: rgb(102, 102, 102);
  font-family: "Lato";
  text-align: center;
  line-height: 1.5;
}

.feature-heading{
  margin-bottom: 10rem;
}

.feature{
  margin-bottom: 9rem;
}

.feature-2 .feature_content{
  margin-left: -3rem;
}

.feature-2 .feature-video{
  margin-left: 3rem;
}

.feature-4 .feature_content{
  margin-left: -3rem;
}

.feature-video video{
  max-width: 500px;
  width: 100%;
}

.feature_content h2{
  font-size: 2.2rem;
  font-family: "montserrat";
}

.feature_content p{
  font-size: 2rem;
  line-height: 1.2;
  color: rgb(102, 102, 102);
  font-family: "Lato";
  line-height: 1.5;
  margin-top: 0;
}

.feature_content{
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8rem;
}

/* courses */

.courses{
  background-color: rgb(248, 248, 248);
  padding: 6rem 4rem;
}

.course-heading{
  font-size: 2.5rem;
  font-weight: 900;
  font-family: "Lato";
  text-align: center;
}

.course-subjects p{
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Lato";
  transition: all 0.2s;
  align-items: center;
  
}

.course-subjects{
  display: flex;
  justify-content: space-around;
  color: rgb(97, 109, 116);
}

.course-subjects p:hover {
  cursor: pointer;
  color: #000;
}

.course-subjects p:focus{
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}


.course-electives img{
  float: left;
  max-width: 2.5rem;
  width: 100%;
  margin-right: 1rem;
}

.course-video video{
  max-width: 800px;
  width: 100%;
}

.course-electives{
  max-width: 300px;
  width: 100%;
}

.course-electives p{
  font-size: 1.7rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.course-content{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
}

.video-header{
  background-color: rgb(40, 40, 40);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.video-header p{
  font-weight: 900;
  letter-spacing: 1px;
}

.course-video{
  box-shadow: 10px 10px;
  border: 1px solid #000;
  border-radius: 3px;
}