<div class="courses">
  <div class="container">
    <div class="course-heading">
      <h2>Guided courses for every journey</h2>
    </div>
    <div class="course-subjects">
      <p tabindex="0">Math</p>
      <p tabindex="0">Data Analysis</p>
      <p tabindex="0">CS & Programming</p>
      <p tabindex="0">Science</p>
      <p tabindex="0">Electives</p>
    </div>
    <div class="course-content">
      <div class="course-electives">
        <p>Courses in <strong>Electives</strong></p>
        <div>
          <img src="images/quantum-mechanics.png" alt="" />
          <p>Quantum Mechanics</p>
        </div>
        <div>
          <img src="images/quantum-computing.png" alt="" />
          <p>Quantum Computing</p>
        </div>
        <div>
          <img src="images/beyond-the-nutshell.png" alt="" />
          <p>Beyond the Nutshell</p>
        </div>
        <div>
          <img src="images/special-relativity.png" alt="" />
          <p>Special Relativity</p>
        </div>
        <div>
          <img src="images/math-puzzles.png" alt="" />
          <p>300+ Math and Science puzzles</p>
        </div>
        <div>
          <img src="images/group-theory.png" alt="" />
          <p>Group Theory</p>
        </div>
        <div>
          <img src="images/real-engineering.png" alt="" />
          <p>Real Engineering</p>
        </div>
      </div>
      <div class="course-video">
        <div class="video-header">
          <p>ELECTIVES</p>
        </div>
        <video autoplay loop muted src="videos/electives.mp4"></video>
      </div>
    </div>
    <div class="course-footer">
      <p>
        All of our 70+ courses are crafted by award-winning teachers,
        researchers, and professionals from:
      </p>
      <div class="course-footer_companies">
        <img src="images/caltech.webp" alt="" />
        <img src="images/mit.webp" alt="" />
        <img src="images/duke.webp" alt="" />
        <img src="images/microsoft.webp" alt="" />
        <img src="images/google.webp" alt="" />
        <p>AND MANY MORE...</p>
      </div>
    </div>
  </div>
</div>
