<div class="downloads">
  <div class="download-left-content">
    <h2>Join over 10 million people learning on Brilliant</h2>
    <div class="hero-button">
      <a href="#">Get started</a>
    </div>
  </div>
  <div class="download-right-content">
    <div class="app-store">
      <img class="app-store-img" src="images/app-store-download.png" alt="" />
      <img class="download-rating" src="images/rating5.png" alt="" />
      <p>10K+ Ratings</p>
    </div>
    <div class="play-store">
      <img class="play-store-img" src="images/google-play.png" alt="" />
      <img class="download-rating" src="images/rating5.png" alt="" />
      <p>60K+ Ratings</p>
    </div>
  </div>
</div>
