<div class="hero-content container grid">
  <div class="hero-left-content">
    <div class="hero-heading">
      <h1>
        Learn by
        <div class="hero-highlight">doing</div>
      </h1>
    </div>
    <div class="hero-para">
      <p>
        Interactive problem solving that's effective and fun. Get smarter in 15
        minutes a day.
      </p>
    </div>
    <div class="hero-button">
      <a href="#">Get started</a>
    </div>
  </div>
  <div class="hero-right-content">
    <video class="hero-video" autoplay muted loop src="videos/hero.mp4"></video>
  </div>
</div>
<div class="hero-down-content container">
  <div class="hero-properties hero-img1">
    <img src="images/maths.png" alt="" />
  </div>
  <div class="hero-properties hero-img2">
    <img src="images/data-analysis.png" alt="" />
  </div>
  <div class="hero-properties hero-img3">
    <img src="images/computer-science.png" alt="" />
  </div>
  <div class="hero-properties hero-img4">
    <img src="images/programming.png" alt="" />
  </div>
  <div class="hero-properties hero-img5">
    <img src="images/science-and-eng.png" alt="" />
  </div>
</div>
