<div class="rating">
  <div class="rating-heading">
    <h2>Join over 10 million people Learning on Brilliant</h2>
  </div>
  <div class="rating-content">
    <div class="rating-companies">
      <img
        class="newyork"
        src="images/new-york-times.webp"
        alt="the new york times"
      />
      <img class="atlantic" src="images/the-atlantic.webp" alt="" />
    </div>
    <div class="rating-review">
      <img class="5-rating" src="images/rating5.png" alt="five star rating" />
      <p>Over 50,000 5-star reviews on iOS App Store and Google Play</p>
    </div>
    <div class="rating-trust">
      <div>
        <img class="star" width="20px" src="images/star.png" alt="" />
        <p class="trustpilot">Trustpilot</p>
      </div>
      <img class="rating-4" src="images/rating4.5.png" alt="4.5 rating logo" />
      <p>TrustScore <strong>4.7 2,153</strong> reviews</p>
    </div>
    <div class="rating-os">
      <img src="images/app-of-the-day.webp" alt="app of the day" />
      <img src="images/best-app.webp" alt="best app" />
    </div>
  </div>
</div>
